/*Tenemos que centrarlo, haremos que la imagen de fondo rellene
completamente la página SIN repetirse y además usaremos una propiedad para
impedir el desplazamiento si la página no cabe.*/
body {
    background-image: url("../images/fondo.jpg"); 
    background-attachment: fixed;/*la imagen se queda fija aunque hagas scroll*/
    background-repeat: no-repeat; /*no se repite la imagen*/
    background-position: top center; /*centrar la imagen*/
    text-align: center;/*centrar contenido*/
    background-size: cover;/*la imagen de fondo ocupa el total de la pantalla*/
    font-family:'Saira Semi Condensed', sans-serif, 'Source Sans Pro';
    height: 100vh; /* Asegura altura completa de la ventana */
    margin: 0; /* Quita márgenes por defecto */
    padding: 30px; /*Añade espacio interior en los bordes */
}
/* cambiaremos el color de fondo, el color del texto y pondremos un borde
lateral de otro color.*/
h1 {
    background-image: url("../images/fondo.jpg");
    color: white;
    border-color: rgb(255, 0, 238);
    border-style: solid;
    border-width: 2px; 
}

img {
    border: 2px rgb(242, 126, 203) solid; /*borde imagen*/
    border-radius: 5%;/*borde radio*/
    box-shadow: 7px 5px 5px rgb(251, 173, 96); /*sombra imagen*/
    height: 500px;
    object-fit: cover;    /* Ajusta la imagen sin deformar */ 
}

ul {
    list-style-type: none;/*sin puntos en la lista*/
    padding: 5px;
    
}

li {
    border: 2px rgb(255, 0, 238) solid; /*borde*/
    display: inline;/*sepacion en horizontal, sin salto de linea*/  
    padding: 5px;
}

li a {
  text-decoration: none; /*Quita el subrayado */
  font-weight: bold;    
}

li a:hover {
  text-decoration: underline; 
}



